<footer class="container">
  <p class="float-end"><a href="https://www.stanford.edu/site/accessibility/">Accessibility</a></p>
  <p class="float-end"> | </p>
  <p class="float-end"><a href="#">Back to top</a></p>
  
</footer>
