<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p class="float-end">&nbsp|&nbsp</p>
  <p class="float-end"><a href="https://www.stanford.edu/site/accessibility/", alt="Stanford's digital accessibility page">Accessibility</a></p>  
</footer>
