<div class="container py-4">
  <header class="pb-3 mb-4 border-bottom">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a href="{{ '/' | url }}" class="d-flex align-items-center text-dark text-decoration-none">
          
            <title>{{ site.title }}</title>
<img src="/assets/images/logo.png" alt="LitLab logo" />
          <span class="fs-4">{{ site.title }}</span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">{% include "navigation.njk" %}</div>
      </div>
    </nav>
  </header>
</div>
