{% if pagination.href.next or pagination.href.previous %}
  <nav class="pagination">
    <ol>
      <li>
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}">&laquo;</a>
        {% else %}
          <span>&laquo;</span>{% endif %}
      </li>
      {%- for pageEntry in pagination.pages %}
        <li>
          {% if page.url == pagination.hrefs[loop.index0] %}
            <span >{{ loop.index }}</span>
          {% else %}
            <a href="{{ pagination.hrefs[ loop.index0 ] }}" >{{ loop.index }}</a>
          {% endif %}
        </li>
      {%- endfor %}
      <li>
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}">Next &raquo;</a>
        {% else %}
          <span>&raquo;</span>{% endif %}
      </li>
    </ol>
  </nav>
{% endif %}
