{% macro gridItem(post.data.title, post.data.image, post.data.short-description, post.data.permalink) %}
    <div class="card__item cf">
        <div class="card__image">
            <a href="#">
                <div class="image">
                    <img src="{{ gridItem.post.data.image }}" alt="">
                </div>
            </a>
        </div>
        <div class="card__content">
            <a href="{{gridItem.post.data.permalink}}">
                <h3 class="mb-sm">Something - {{ gridItem.post.data.title }}</h3>
            </a>
            <div class="card__excerpt">
                <p>More things - {{ gridItem.post.data.short-description }}</p>
            </div>
        </div>
    </div>
{% endmacro %}