---js
{
  layout: "base",
  title: "Pamphlets",
  permalink: "pamphlets/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}",
  eleventyNavigation: {
    key: "Pamphlets",
    order: "6"
  },
  pagination: {
    data: "collections.publications",
    reverse: true,
    alias: "publications",
    size: 100,
    before: function(paginationData, fullData) {
      return paginationData.sort((a, b) => a.data.year - b.data.year);
    }
  }
}
---
<div class="jumplinks-container">
<div>
<h2>Pamphlets</h2>


                       {%- for post in pagination.items -%}
					   {% if post.data.pamphlet %}
					   
					   <div class="pamphlet" id="{{post.data.pubkey}}">
					   <h4><a href="/assets/pdf/{{post.data.pamphlet.pdf}}">{{post.data.title}}</a></h4>
					  
					   <a href="/assets/pdf/{{post.data.pamphlet.pdf}}"><img src="{{post.data.pamphlet.image}}" alt="pamphlet cover for {{post.data.title}}"  /></a>
					   <p>{{post.data.pamphlet.blurb}} <a href="/assets/pdf/{{post.data.pamphlet.pdf}}">Download PDF</a>
					   
					   {% if post.data.project %}
					   {% for project in collections.projects %}
					   {% if post.data.project == project.data.key %}
					    | <a href="{{project.data.permalink}}">View project</a>
					   {% endif %}
					   {% endfor %}
					   {% endif %}
					   
					   
					   </p>
					   </div>
					   
					  
					   
					   
					   {% endif %}
					   {% endfor %}
					   
</div>

<aside class="jumplinks card">
<ul>
{%- for post in pagination.items -%}
  {% if post.data.pamphlet %}
    <li><a href="#{{post.data.pubkey}}">{{post.data.title}}</a></li>
  {% endif %}
{% endfor %}
</ul>
</aside>
</div>