/* _CARD.SCSS
 * --------------------------------------------------
 *  Card styles should be declared here
 * -------------------------------------------------- */

.card__container {
    margin-left: -16px;
    margin-right: -16px;

    @include bp-normal {
        display: flex;
        flex-wrap: wrap;
    }
}

.card__item {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 32px;
    padding-bottom: 24px;
    border-bottom: 1px solid $border-color;

    &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
    }

    @include bp-normal {
        width: 50%;
        padding-bottom: 0;
        border: none;
        margin-bottom: 64px;

        &:nth-of-type(5) {
            margin-bottom: 0;
        }
    }

    &:hover {
        .image {
            img {
                transform: scale(1.1);
            }
        }

        h3 {
            color: $main-color;
        }
    }
}

.card__image {
    float: left;
    width: calc(50% - 16px);
    margin-right: 16px;
    margin-bottom: 8px;       
    
    @include bp-normal {
        width: 100%;        
        margin-bottom: 32px; 
        margin-right: 0;       
    }
}

.image {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;

    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        transition: transform .3s $cubic;
    }
}

.card__content {            
    a {
        color: inherit;
    }

    h3 {
        transition: .3s $cubic;
    }

    p {
        color: $paragraph-color;        
    }
}