---
layout: base
---
{%- set comma = joiner(", ") -%}
<!-- page.html -->
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ title }}</h1>
    
    {% if authors %}
    <!-- author information-->
    <p>
		
	          {%-for author in authors-%}
        
		
		
	    {% set author_loop = loop %}
	  	{%- for person in LabPeople -%}
	  	    {%- if author == person.key -%}
	  	{{- person.name -}}{{ ", " if not author_loop.last }}{% endif %}{% endfor %}{% endfor %};
	


{% if date %}{% endif %}{{date | postDate}}{% endif %}</p>
  </header>

  
  <div> {{content | safe}} </div>
</div>